* {
  margin: 0rem;
  padding: 0rem;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  /*--accent-color: #ff9800;
  --accent-light: #ffc947;
  --accent-dark: #c66900;
  --primary-color: #03a9f4;
  --primary-light: #67daff;
  --primary-dark: #1976D2;
  --background-color: #EAE9EE;
  --secondary-text: #757575;*/
}

*, *:before, *:after {
  box-sizing: border-box;
  transition: all 0.5s ease;
}

body {
  margin-top: auto;
  background: #EAE9EE;
}

header {
  background-color: #03a9f4;
  height: auto;
  position: relative;
  margin: auto;
  top: 0;
  width: 100%;
  text-align: center;
}

header h1 {
  margin: 0;
  display: inline-block;
}

nav {
  background-color: #1976D2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

nav li {
  margin-left: 0px;
  margin-right: 0px;
  display: inline-block;
}

nav ul {
  text-align: center;
}

nav li a {
  margin: 0;
}

nav li:hover {
  color: Black;
  background-color: #ff9800;
  /*margin: -3px; */
}

nav li {
  display: inline-block;
}

ul {
  width: 100%;
}

li a:not(#menu) {
  color: white;
  padding: 1rem;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  font-size: 1em;
}

#menu {
  /* display: none; */
  /* color: #03a9f4; */
  /* background-color: #03a9f4; */
  float: right;
  margin-right: 15px;
  padding: inherit;
  font-size: 15px;
  display: none;
  /* font-size: 10vw; */
  /* margin: 15px; */
}

#circle {
  width: 35px;
  height: 35px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 35px;
  background: #ff9800;
  position: -webkit-sticky;
  position: sticky;
  bottom: 100px;
  /*right:20;*/
}

main {
  margin-top: 10px;
  margin-bottom: 60px;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

.Intro p {
  text-align: center;
}

article {
  padding: 1rem;
  max-width: 55rem;
  margin: 0rem auto;
  margin-bottom: 10px;
  background: lightGrey;
  border: 1px solid #ff9800;
}

article p, article h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: justify;
  text-justify: inter-word;
  /**/
}

article a {
  font-style: italic;
  color: #1976D2;
  font-size: 1rem;
  /*color: #757575;*/
}

article i {
  color: #757575;
}

a {
  word-break: break-all;
}

article video {
  width: 100%;
  /* controls:false; */
}

article img {
  width: 100%;
}

#download {
  display: block;
  text-align: center
}

#html_valid {
  height: auto;
  width: 5rem;
  float: right;
  display: inline;
}

#css_valid {
  height: auto;
  width: 5rem;
  float: left;
  display: inline;
}

.validation {
  background: none;
  border: none;
  height: auto;
  min-height: 4rem;
  display: inline;
}

.validation a {
  position: relative;
  text-align: center;
  left: 33%;
  margin: auto;
  /*width: 50%;*/
  /*height: 100%;*/
  padding: 10px;
}

footer {
  bottom: 0;
  width: 100%;
  height: auto;
  min-height: 5rem;
  background-color: #1976D2;
}

iframe {
  display: none;
  overflow-x: hidden;
  overflow-y: hidden;
  color: red;
}

footer p {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  font-size: 2rem;
  text-align: center;
}

.copyright {
  font-size: 10px;
}

.active a {
  color: black;
  background-color: #ff9800;
}

@media screen and (max-width:500px) {
  .mainNav li:not(.pinned) {
    position: relative;
    display: none;
    top: -500px;
  }
  nav li {
    display: block;
  }
  main {
    margin: auto;
  }
  footer {
    position: relative;
    font-size: 10px;
  }
  .mainNav.responsive li {
    display: block;
    transition-delay: 5s;
    transition: ease 1s;
    top: 0px;
  }
  #menu {
    display: block;
    position: relative;
    top: -25px;
    background-color: #03a9f4;
    color: #03a9f4;
    border: solid 1px;
    padding: 1px;
    border-radius: 100%;
  }
}